*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/background\ \(2\).jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.todo{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo .date{
    padding: 10px;
    border: 2px solid #4CAF50; /* Warna border */
    border-radius: 8px; /* Membuat sudut melengkung */
    background-color: #f9f9f9; /* Warna background */
    font-family: 'Arial', sans-serif; /* Font yang digunakan */
    font-size: 16px;
    color: #333; /* Warna teks */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efek bayangan */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transisi animasi */
    text-align: center;
}
.todo h2 img{
    width: 40px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}


.todo h2{
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e0e0e0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #0066ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(img/square.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(img/checklist.png);
}

ul li span{
position: absolute;
right: 0;
top: 5px;
width: 40px;
height: 40px;
font-size: 22px;
color: #555;
line-height: 40px;
text-align: center;
border-radius: 50%;
}

ul li span:hover{
    background: #edeef5;
}

.todo img{
    display: block;
    margin: 0 auto;
    width: 250px;
    padding-bottom: 20px;
}

.footer{
    text-align: center;
    margin-top: 20px;
    
}